@using lab3_App.Models.CarModels
@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Dodaj samochod</h1>
<form asp-controller="Car" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Model"></label>
        <input class="form-control" asp-for="Model" />
        <span class="text-danger" asp-validation-for="Model"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Manufacturer"></label>
        <input class="form-control" asp-for="Manufacturer" />
        <span class="text-danger" asp-validation-for="Manufacturer"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Capaciy"></label>
        <input class="form-control" asp-for="Capaciy" />
        <span class="text-danger" asp-validation-for="Capaciy"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Power"></label>
        <input class="form-control" asp-for="Power" />
        <span asp-validation-for="Power"></span>
    </div>
    <div class="mb-3">
        <label asp-for="EngineType">Typ silnika</label>
        <select class="form-control" asp-for="EngineType" asp-items="@Html.GetEnumSelectList<Engine>()"> </select>
        <span asp-validation-for="EngineType"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RegistratioinNumber"></label>
        <input class="form-control" asp-for="RegistratioinNumber" />
        <span asp-validation-for="RegistratioinNumber"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Owner"></label>
        <input class="form-control" asp-for="Owner" />
        <span asp-validation-for="Owner"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Utworz</button>
    </div>
</form>
