@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Birth</h2>
            <form action="Result" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name">Imie</label>
                    <input class="form-control" type="text" name="name" id="name" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="birthDate">Data urodzenia</label>
                    <input class="form-control" type="date" name="birthDate" id="birthDate" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Wyświetl</button>
                </div>
            </form>
        </div>
    </div>
</div>