@model Data.Entities.OrganizationEntity

@{
    ViewData["Title"] = "Delete";
}


<h3>Czy na pewno chcesz usunąć tą organizację?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<form asp-action="Delete">
    <input asp-for="OrganizationId" />
    <button class="btn btn-outline-danger" type="submit">Tak</button>
    <a class="btn btn-outline-dark" asp-action="Index">Nie</a>
</form>