@using lab3_car.Models
@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Czy na pewno chcesz usunac samochod?</h1>
<p>Model</p>
<h3>@Model.Model</h3>
<p>Producent</p>
<h3>@Model.Manufacturer</h3>
<p>Nr rejestracyjny</p>
<h3>@Model.RegistratioinNumber</h3>
<form asp-action="Delete">
    <input asp-for="Id" />
    <button class="btn btn-danger" type="submit">Tak</button>
    <a class="btn btn-secondary" asp-action="Index">Nie</a>
</form>